\section{Codeforces}
    \vspace{0.3 cm}
    \begin{minipage}[t]{0.4\textwidth}
        \subsection{Profile}
        \vspace{0.3 cm}
        \begin{itemize}
            \item Handle : \href{$profile_link}{\bf $handle}
            \item Rank : $rank
            \item Current Rating : $current_rating
            \item Max Rating : $max_rating
            \item Contribution : $contribution
            \item Questions Solved : $questions_solved
        \end{itemize}
    \end{minipage}
    \begin{minipage}[t]{0.59\textwidth}
        \subsection{Recent Submissions}
            \vspace{0.3 cm}
            \begin{minipage}[t]{0.49\textwidth}
            \begin{itemize}
                %\color{red}
                \item \href{$link_1}{\bf $name_1}
                \item
                \href{$link_2}{\bf $name_2}
                \item
                \href{$link_3}{\bf $name_3}
                \item
                \href{$link_4}{\bf $name_4}
                \item
                \href{$link_5}{\bf $name_5}
                \item
                \href{$link_6}{\bf $name_6}
            \end{itemize}
            \end{minipage}
            \begin{minipage}[t]{0.5\textwidth}
                \begin{itemize}
                    \item \href{$link_7}{\bf $name_7}
                    \item \href{$link_8}{\bf $name_8}
                    \item \href{$link_9}{\bf $name_9}
                    \item \href{$link_10}{\bf $name_10}
                    \item \href{$link_11}{\bf $name_11}
                    \item \href{$link_12}{\bf $name_12}
                \end{itemize}
            \end{minipage}
    \end{minipage}
    \sectionsep